<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This Web About Restourant List">
    
    <title>Ixion Cooked</title>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    <script src="https://kit.fontawesome.com/df1b96af65.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <button class="skip-content">Skip To The Content</button>
      <h2>Ixion<span>Cooked</span></h2>
        <nav>
          <button class="navbar-logo" id="btn-menu" aria-label="Open Menu Navbar">
            <i class="fa-solid fa-bars open-logo"></i>
            <i class="fa-solid fa-x close-logo deactive"></i>
          </button> 
          <div class="navbar-menu">
            <ul class="nav__list">
              <li class="nav__item"><a href="#/Home">Home</a></li>
              <li class="nav__item"><a href="#/Favorite">Favorite</a></li>
              <li class="nav__item"><a href="https://lyyportofolio.netlify.app/" target="_blank" rel="noreferrer">About Us</a></li>
            </ul>
          </div>
        </nav>
    </header>
    <main>
      <section id="hero">
        <div class="hero__container">
          <h1 class="hero__title">Ixion<span>Cooked</span></h1>
          <p class="hero__desc">"Food brings people together on many different levels. It's nourishment of the soul and body"</p>
        </div>
      </section>
      <section id="content" tabindex="0">
        <article id="about">
          <div class="about__container">
            <div class="about__banner skeleton">
            <img data-src="abouts/aboutfood.webp" 
                  alt="foodspanel" class="restaurant__banner lazyload" images>
            </div>
            <div id="about__content">            
              <h2 class="about__title skeleton skeleton-text" tabindex="0">About This Website</h2>
              <p class="about__desc skeleton skeleton-text">This website contain list of the restaurant. Each restaurant have a unique description and have a rating. If you want go to the restaurant that you seem interesting, you can check the location on the description.</p>
            </div>
          </div>
        </article>
        <article id="restaurant">
          <div class="container">
            <h1 class="title-section">Restaurant</h1>
            <div class="box-area">
              
            </div>
            <a href="#/restaurants" class="restaurant__other-items">Other</a>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <p>IxionCook &copy Copyright 2024 All Rights Reserved.</p>
    </footer>
  </body>
</html>