.skeleton {
  position: relative;
  margin-bottom: .25rem;
}

.skeleton::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  animation: skeleton-loading 1s linear infinite alternate;
  background-size: 80%;
  border-radius: 8px;
}

.skeleton-text {
  display: inline-block;
  height: max-content;
  width: 80%;
  font-size: .8em;
  background-size: 40%;
  margin-bottom: .3rem;
}

.skeleton-text:last-child {
  width: 70%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  
  100% {
    background-color: hsl(200, 20%, 100%);
  }
}